:host {
  cursor: pointer;
  display: block;
  height: 77px;
  position: relative;
  transition: transform 0.2s ease-in-out;
  width: 77px;
}

:host:hover {
  transform: scale(1.1);
}

/* :host:after {
  background-image: url('/assets/ico-camera.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px;
  border-radius: 50%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.25;
  width: 100%;
} */

