<button type="button" (click)="addItem()">Add Item</button>

<form
  *ngIf="!!items.controls.length"
  [formGroup]="form"
  (submit)="saveLinks($event)"
>
  <div formArrayName="items">
    <div
      *ngFor="let item of items.controls; let i = index"
      [formGroupName]="i"
      class="grid grid-cols-2 gap-6 my-6"
    >
      <div class="m-0 form-group">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          formControlName="title"
          placeholder="Title"
        />
      </div>
      <div class="m-0 form-group">
        <label for="url">URL</label>
        <input id="url" type="url" formControlName="url" placeholder="URL" />
      </div>
      <input type="hidden" formControlName="id" />
    </div>
  </div>
  <button>Save</button>
</form>
