<div class="container flex gap-16 mx-auto">
  <div class="flex-1">
    <header class="flex items-center justify-between mb-12">
    <h1>Edit your page</h1>
    <a class="btn link" [href]="(user$ | async)?.username" target="_blank">Preview →</a>
  </header>

    <p class="mb-8 text-primary-300">{{ errorMessage }}</p>

    <form [formGroup]="form" (submit)="saveLinks($event)">
      <div class="grid grid-cols-2 gap-6 mb-12">
        <div class="flex gap-6">
          <app-avatar-upload
            (avatarChange)="setAvatar($event)"
            class="flex-shrink-0"
            [user]="user$ | async"
          />
          <div class="m-0 form-group">
            <label for="name">Full Name</label>
            <input
              id="name"
              formControlName="name"
              type="text"
              class="w-full"
            />
          </div>
        </div>
        <div class="m-0 form-group">
          <label for="description">Description</label>
          <input id="description" formControlName="description" type="text" />
        </div>
      </div>

      <hr class="mb-8 border-primary-900" />

      <div formArrayName="links" *ngIf="items.controls.length; else noItems">
        <div class="flex flex-col gap-3 mb-8">
          <div
            class="flex items-end gap-4"
            *ngFor="let item of items.controls; let i = index"
            [formGroupName]="i"
          >
            <button
              type="button"
              class="px-3 bg-gray-700 hover:bg-gray-900"
              (click)="deleteRow(i)"
            >
              <img src="/assets/ico-trash.svg" width="24" alt="" />
            </button>
            <div class="grid grid-cols-2 gap-4 grow">
              <div class="m-0 form-group">
                <label for="title">Title</label>
                <input
                  id="title"
                  type="text"
                  formControlName="title"
                  placeholder="Title"
                />
              </div>
              <div class="m-0 form-group">
                <label for="url">URL</label>
                <input
                  id="url"
                  type="url"
                  formControlName="url"
                  placeholder="URL"
                />
              </div>
              <input type="hidden" formControlName="id" />
            </div>
          </div>
        </div>

        <p class="flex justify-between m-0">
          <button type="button" (click)="addItem()" class="outline">
            Add New Link
          </button>
          <button>Save</button>
        </p>
      </div>
    </form>
  </div>
  <div class="relative" style="flex-basis: 393px">
    <app-preview-page class="fixed" style="width: 393px; height: 852px">
      <app-public-page [data]="form.value" />
    </app-preview-page>
  </div>
</div>

<ng-template #noItems>
  <div class="flex items-center justify-center bg-primary-900 h-96">
    <button type="button" (click)="addItem()">Add New Link</button>
  </div>
</ng-template>
