<div class="container flex mx-auto mt-24 gap-14">
  <div class="col-start-1 col-end-7">
    <div class="mb-8">
      <h2 class="text-5xl">
        The Core of Your
        <span
          class="text-transparent bg-clip-text bg-gradient-to-b from-primary-500 to-[#D67526]"
          >Online Galaxy</span
        >
      </h2>
      <p>
        One link to connect your digital cosmos. Guide traffic from multiple
        platforms and boost your online profile.
      </p>
    </div>

    <form (ngSubmit)="onSubmit()" class="flex items-center gap-4">
      <p class="text-xl text-gray-500">https://echolink.com/</p>
      <input
        class="flex-grow w-12"
        type="text"
        name="username"
        id="username"
        placeholder="your-username"
        [(ngModel)]="username"
      />
      <button type="submit" class="flex-shrink-0">Claim my link</button>
    </form>
    <p *ngIf="!!message" class="px-3 py-1 mt-4 text-red-200 bg-red-800 rounded">{{ message }}</p>
  </div>
  <app-device-preview
    class="flex-shrink-0"
    style="flex-basis: 393px; height: 852px"
  />
</div>
