<!-- TODO: Make the url a pipe -->
<img
  *ngIf="user && user.avatar; else fallback"
  [src]="
    'http://127.0.0.1:8090/api/files/_pb_users_auth_/' +
    user.id +
    '/' +
    user.avatar +
    '?thumb=100x100'
  "
  [alt]="user.name"
/>

<!-- http://127.0.0.1:8090/api/files/COLLECTION_ID_OR_NAME/RECORD_ID/FILENAME?thumb=100x300 -->

<!-- src="http://127.0.0.1:8090/_/../api/files/_pb_users_auth_/ggkhfxoutm951jx/r4xk_bm3w_400x400_dFEh1MakDL.jpg?thumb=100x100&token=" -->

<ng-template #fallback>
  <img src="/assets/fallback-avatar.svg" alt="" />
</ng-template>
